@font-face {
	font-family: 'Comfortaa';
	src: url('source/comfortaa.eot'); /* IE 9 Compatibility Mode */
	src:
		/*url('source/comfortaa.eot?#iefix') format('embedded-opentype'), !* IE < 9 *!*/
		/*url('source/comfortaa.woff2') format('woff2'), !* Super Modern Browsers *!*/
		/*url('source/comfortaa.ttf') format('truetype'), !* Safari, Android, iOS *!*/
		/*url('source/comfortaa.svg#comfortaa') format('svg'), !* Chrome < 4, Legacy iOS *!*/
		url('source/comfortaa.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
}
