* {color: #2c2c2c}
body, aside menu, #developers hr, #avatar hr, #alert_body {background-color: #2c2c2c}
#hat #change_avatar, #developers .card svg {fill: #2c2c2c}
aside menu div.light {background-color: #525252}
aside menu div.dark {background-color: #2c2c2c;}
@-webkit-keyframes autofill {to {color: #4b4b4b}}
::placeholder {color: rgba(75, 75, 75, 0.7)}
#restore:hover {color: rgba(0, 0, 0, 0.1)}
*:disabled {background: rgba(245, 245, 245, 0.5) !important;}
svg {fill: #2c2c2c}
#alert_body svg {stroke: #2c2c2c}
#avatar:hover #avatar_inside, #avatar.drop #avatar_inside {filter: blur(2px)}
#authorisation_menu #checkbox_remember_me:checked~label {background-color: #2c2c2c}
.time.input *, .time.input input::placeholder {color: #4b4b4b}
.time input::selection, .back .title input::selection {background-color: rgba(0, 0, 0, 0.1) !important}
header .center:hover, header .center:active {background: rgba(0, 0, 0, 0.1)}
@media (min-width: 1400px) {header .right:hover, header .right:active {background: rgba(0, 0, 0, 0.1)}}
footer .right:hover, footer .right:active {background: rgba(0, 0, 0, 0.1)}
#edit:hover div:hover, #exit:hover div:hover, #edit:hover div:active, #exit:hover div:active {background: rgba(0, 0, 0, 0.1)}
#set_login:hover {background: rgba(0, 0, 0, 0.2)}
#set_login:focus {background-color: #2c2c2c}
.time.input input::placeholder {color: rgba(0, 0, 0, 0.5)}
#profile_menu menu button.yes, .del_list {background-color: #af3b3b !important;}
#remove_avatar, #alert_body button.yes, #alert_body svg#al_red_sprite {fill: #af3b3b !important}
aside menu form input.warning, #set_login.warning {background-color: #af4141 !important}
#confirm_email p:last-of-type {color: #af4141 !important}
#avatar:hover::before, #avatar.drop::before, #alert_back  {background-color: rgba(255, 255, 255, 0.2)}
@media (max-width: 1400px) {header .right:hover .avatar::before {background-color: rgba(255, 255, 255, 0.3)}}
#help_body *, .man_card::before {color: darkgray}
#btn_guest_log, .clock_load { border-color: darkgray}
.clock_load::after, .clock_load::before { background-color: darkgray}
.man_card img {filter: blur(5px) brightness(40%)}
.man_card.ready:hover img {filter: blur(0) brightness(70%)}
@media (max-height: 650px) {#developers img {filter: brightness(1.5) contrast(0.5)}}
