<div id="developers">
    <div id="dev_head"><p>Лучшая команда разработчиков</p></div>

    <div class="card_head"><p>T1MON</p></div>
    <div class="card_head"><p>ATTILENE</p></div>
    <div class="card_head" id="Rasim"><p>PRAGMATIC<br>FRIEND</p></div>
    <div class="card_head"><p>MACMILLAN</p></div>
    <div class="card_head"><p>TRIIKSTER</p></div>

    <div class="card">
        <img src="time_manager/images/developers/T1MON.jpg">
        <p class="card_title" id="Dima">T1MON</p>
        <div>
            <svg onclick="window.open('https://vk.com/t1monvk', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_vk"></use>
            </svg>
            <svg onclick="window.open('https://www.instagram.com/_beauty_is_a_duty_/', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_instagram"></use>
            </svg>
            <svg onclick="window.open('https://t.me/T1TELGRAM', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_telegram"></use>
            </svg>
        </div><hr>
        <p>JavaScript программист</p>
        <p>Front-end разработчик</p>
        <p>Web программист</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/ATTILENE.jpg">
        <p class="card_title">ATTILENE</p>
        <div>
            <svg onclick="window.open('https://vk.com/attilene', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_vk"></use>
            </svg>
            <svg onclick="window.open('https://www.instagram.com/artembakanov/', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_instagram"></use>
            </svg>
            <svg onclick="window.open('https://t.me/attilene', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_telegram"></use>
            </svg>
        </div><hr>
        <p>Back-end <br> разработчик</p>
        <p>Front-end разработчик</p>
        <p>SQL программист</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/PRAGMATICFRIEND.jpg">
        <p class="card_title" id="Rasim_title">PRAGMATIC FRIEND</p>
        <div>
            <svg onclick="window.open('https://vk.com/id214766161', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_vk"></use>
            </svg>
            <svg onclick="window.open('https://www.instagram.com/_ex4ctly_/', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_instagram"></use>
            </svg>
            <svg onclick="window.open('https://t.me/n1ckn4me', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_telegram"></use>
            </svg>
        </div><hr>
        <p>Web-дизайнер</p>
        <p>Front-end разработчик</p>
        <p>Interface-дизайнер</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/MACMILLAN.jpg">
        <p class="card_title" id="Grisha">MACMILLAN</p>
        <div>
            <svg onclick="window.open('https://vk.com/id126216138', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_vk"></use>
            </svg>
            <svg onclick="window.open('https://www.instagram.com/macmillan251/', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_instagram"></use>
            </svg>
            <svg onclick="window.open('https://t.me/iamthemac333', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_telegram"></use>
            </svg>
        </div><hr>
        <p>Front-end разработчик</p>
        <p>Постдизайнер</p>
        <p>Тестировщик</p>
    </div>
    <div class="card">
        <img src="time_manager/images/developers/TRIIKSTERKA.jpg">
        <p class="card_title">TRIIKSTER</p>
        <div>
            <svg onclick="window.open('https://vk.com/triikstervk', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_vk"></use>
            </svg>
            <svg onclick="window.open('https://www.instagram.com/triiksterka/', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_instagram"></use>
            </svg>
            <svg onclick="window.open('https://t.me/triiksterka', '_blank')">
                <use xlink:href="time_manager/images/sprites.svg#sprite_telegram"></use>
            </svg>
        </div><hr>
        <p>Модератор</p>
        <p>Interface-</br>дизайнер</p>
        <p>Тестировщик</p>
    </div>
</div>