<div class="hat login">ВХОД</div>
<div class="hat register">РЕГИСТРАЦИЯ</div>

<menu>
    <form id="user" onkeydown="if (event.keyCode === 13) {submit_warn($(this)); return false}">
        <label for="form_login" class="empty" autofocus></label>
        <input id="form_login" name="login"
               placeholder="Подождите ..." type="email"
               autocomplete="on" disabled
               title="Наберите уникальный свой уникальный никнейм"
               oninput="act_field($(this), input_login, check_empty)"
        >
        <button id="erase_login" type="button" onmousedown="click_erase($(this).prev())">
            <svg id="login_btn_erase">
                <use xlink:href="time_manager/images/sprites.svg#sprite_btn_erase"></use>
            </svg>
        </button>

        <label for="form_email" class="empty"></label>
        <input class="hidden" name="email" id="form_email"
               placeholder="Почта" type="email"
               title="С помощью этой почты вы можете в будущем воостановить пароль"
               oninput="act_field($(this), input_email, check_empty)"
        >
        <button id="erase_email" type="button" onmousedown="click_erase($(this).prev())">
            <svg id="email_btn_erase">
                <use xlink:href="time_manager/images/sprites.svg#sprite_btn_erase"></use>
            </svg>
        </button>

        <label for="form_password" class="empty"></label>
        <input id="form_password" name="password"
               placeholder="Пароль" type="password" disabled
               oninput="act_field($(this), input_pass, empty_pass)"
        >
        <button id="show_pass" type="button" onmousedown="click_show_psw($(this).prev())">
            <svg id="pass_btn_show">
                <use xlink:href="time_manager/images/sprites.svg#sprite_btn_show"></use>
            </svg>
        </button>

        <label for="form_repass" class="empty"></label>
        <input class="hidden" name="password" id="form_repass" placeholder="Пароль ещё раз" type="password" disabled
               oninput="act_field($(this), check_repass)"
        >
        <button id="show_repass" type="button" onmousedown="click_show_repsw($(this).prev())">
            <svg id="repass_btn_show">
                <use xlink:href="time_manager/images/sprites.svg#sprite_btn_show"></use>
            </svg>
        </button>
        <p id="restore" onmousedown="click_restore()">Восстановить</p>
    </form>

    <input id="checkbox_remember_me" type="checkbox" checked="checked"><label id="remember_me" for="checkbox_remember_me">Запомнить меня</label>
</menu>
