<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="time manager, time, schedule, время, тайм менеджер, расписание" />
    <meta name="description" content="Этот сайт поможет вам наиболее оптимально распределить время" />
    {#         Стили         #}
    <link href="static/styles/fonts/fonts.css" rel="stylesheet" type="text/css" />
    <link href="static/styles/base.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/help.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/tables.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/profile.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/authorisation.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/about.css" rel="stylesheet" type="text/css"/>
    <link href="static/styles/themes/light.css" rel="stylesheet" type="text/css" id="theme_choice"/>
    <link href="static/styles/colors/blue.css" rel="stylesheet" type="text/css" id="color_choice"/>
    <link href="static/images/favicons/blue.svg" rel="shortcut icon" type="image/x-icon" id="favicon_choice"/>
    {#         Скрипты        #}
    <script type="text/javascript" src="static/scriptes/library/Forge.js"></script>
    <script type="text/javascript" src="static/scriptes/library/jQuery.js"></script>
    <script type="text/javascript" src="static/scriptes/library/Sortable.js"></script>
    <script type="text/javascript" src="static/scriptes/requests.js"></script>
    <script type="text/javascript" src="static/scriptes/encrypt.js"></script>
    <script type="text/javascript" src="static/scriptes/actions.js"></script>
    <script type="text/javascript" src="static/scriptes/profile.js"></script>
    <script type="text/javascript" src="static/scriptes/table_day.js"></script>
    <script type="text/javascript" src="static/scriptes/table_month.js"></script>
    <script type="text/javascript" src="static/scriptes/lists.js"></script>
    <script type="text/javascript" src="static/scriptes/authorise.js"></script>
    <script type="text/javascript" src="static/scriptes/main.js"></script>
    <title>Time Manager</title>
</head>

<body style="opacity: 0">
    <header class="logout">
        <span class="left" onmousedown="change_page('help')">
            <a>Time Manager</a>
        </span>
        <a class="center" id="button_lists" onmousedown="change_page('lists')">Списки</a>
        <a class="center" id="button_day" onmousedown="change_page('day')">Расписание</a>
        <a class="center" id="button_month" onmousedown="change_page('month')">Дедлайны</a>
        <span class="right" id="button_profile"
              onmousedown="toggle_aside($('#profile_menu'))"
              ondragenter="toggle_aside($('#profile_menu:not(.opened)'))"
        >
            <a>
                <div class="nickname"></div>
                <picture class="avatar"></picture>
                <svg id="set_icon">
                    <use xlink:href="static/images/sprites.svg#sprite_set_icon"></use>
                </svg>
            </a>
        </span>

        <span id="authorisation">
            <span id="button_authorisation"
                  title="Здесь вы можете зарегестрироваться или войти"
                  onmousedown="toggle_aside($('#authorisation_menu'))"
            >Авторизация</span>
        </span>
    </header>

    <aside id="profile_menu">{% include 'profile.html' %}</aside>
    <aside class='empty' id="authorisation_menu">{% include 'authorisation.html' %}</aside>

    <main id="page_help">{% include 'help.html' %}</main>
    <main id="page_lists"></main>
    <main id="page_day"></main>
    <main id="page_month"></main>
    <main id="page_about">{% include 'about.html' %}</main>

    <footer>
        <span class="left"
              title="Союз Советских Социалистических Рептилоидов"
        >Проект СССР &trade;</span>
        <span class="center"
              title="Не рекомендую сюда нажимать"
              onclick="$('html').toggleClass('ass_crack')"
        >Все права защищены (нет) &reg; &copy; 2020 г.</span>
        <span class="right" id="button_about" onmousedown="change_page('about')"
              title="Здесь мы можете больше узнать о создателях сайта"
        >
            <a>Разработчики</a>
        </span>
    </footer>
</body>
</html>
