<link href="static/styles/fonts/fonts.css" rel="stylesheet" type="text/css" />
<style>
    * {
        text-decoration: none;
        font-family: Comfortaa, "Comic Sans MS", sans-serif;
        text-align: center;
    }
    div {
        font-size: 20px;
        margin: 20px auto;
        padding: 10px 30px;
        height: 20px;
        line-height: 20px;
        width: max-content;
        background: #7188c7;
        color: white;
        border-radius: 20px
    }
    a {
        font-size: 18px;
        color: #7188c7;
    }
</style>
<body>
    <div id="error">
        {{ error }}
    </div>
    <a id="link" href="http://127.0.0.1:5000/">
        Time Manager.com
    </a>
</body>
<script>
    console.log({{ desc }})
</script>
