<div class="clock_load" id="main_clock">
    <p>Подождите ...</p>
</div>
<div id="help_body">
    <p id="subtitle">Добро пожаловать</p>
    <div class= "man_card" id="m_reg">
        <div class="clock_load"></div>
        <img class="cover">
    </div>
    <div class= "man_card" id="m_act">
        <div class="clock_load"></div>
        <img class="cover">
    </div>
    <div class= "man_card" id="m_add">
        <div class="clock_load"></div>
        <img class="cover">
    </div>
    <div class= "man_card" id="m_theme">
        <div class="clock_load"></div>
        <img class="cover">
    </div>
    <p id="try_guest">Попробуйте гостевую учетную запись</p>
    <button id="btn_guest_log" type="button"
            onmousedown="if (!user_logined) {guest_auth()}"
    >Начать</button>
    <p id="thank">Спасибо, что вы с нами!</p>
</div>
