<div id="hat">
    <form onsubmit="
    if ($(this).prev('label').hasClass('warning')) {submit_warn($(this))}
    else {$(this).children('input').blur()}
    return false;
    ">
        <label for="set_login"></label>
        <input id="set_login" type="text" autocomplete="off"
               value="{{ login }}"
               oninput="input_set_login($(this))"
               onblur="onblur_set_login($(this))"
        >
    </form>
    <span id="edit">
        <div id="btn_change_email" onmousedown="toggle_set_menu($('#menu_edit_email'))">Почта</div>
        <div id="btn_change_pass" onmousedown="toggle_set_menu($('#menu_edit_psw'))">Пароль</div>
        <svg class="hat_float">
            <use xlink:href="static/images/sprites.svg#sprite_float_edit"></use>
        </svg>
    </span>
    <span id="avatar"
          ondragenter="$(this).addClass('drop')"
          ondragleave="$(this).removeClass('drop')"
          ondrop="drop($(this), event)"
        {% if not avatar %}
            class="none"
        {% endif %}
    >
        <div id="avatar_inside" {{ avatar|safe }}></div>
        <svg id="change_avatar" onmousedown="$('#get_file').click()">
            <use xlink:href="static/images/sprites.svg#sprite_btn_change"></use>
        </svg>
        <input id="get_file" type="file" accept="image/*" onchange="onchange_get_file($(this)[0].files[0])">
        <hr>
        <svg id="remove_avatar" onmousedown="click_remove_avatar()">
            <use xlink:href="static/images/sprites.svg#sprite_btn_remove"></use>
        </svg>
        <svg id="drop_zone" onmousedown="click_remove_avatar()">
            <use xlink:href="static/images/sprites.svg#sprite_drop"></use>
        </svg>
    </span>
    <span id="exit">
        <div id="btn_exit" onmousedown="
            if (user_data.login !== undefined) { receive('/logout') }
            logout();
        ">
            Выйти
        </div>
        <div id="btn_delete_profile" onmousedown="toggle_set_menu($('#menu_confirm_delete'))">Удалить</div>
        <svg class="hat_float">
            <use xlink:href="static/images/sprites.svg#sprite_float_exit"></use>
        </svg>
    </span>
</div>

<menu id="menu_confirm_delete">
    <p>Подтвердите удаление профиля</p>
    <button class="yes" type="button"
            title="Внимание! Все ваши данные будут стерты"
            onclick="
        if (user_data.login !== undefined) { receive('/delete_user') }
        logout();
    ">
        Удалить
    </button>
</menu>

<menu id="menu_edit_psw">
    <p>Изменение пароля</p>
    <form onsubmit="submit_warn($(this)); return false">
        <label for="set_psw" class="empty"></label>
        <input id="set_psw" placeholder="Новый пароль" type="password"
               oninput="act_field($(this), input_set_psw)"
               onblur="onblur_set_psw($(this))"
        >
        <button id="show_set_psw" type="button" onmousedown="click_show_psw($(this).prev())">
            <svg>
                <use xlink:href="static/images/sprites.svg#sprite_btn_show"></use>
            </svg>
        </button>
    </form>
</menu>

<menu id="menu_edit_email">
    <p>Изменение почты</p>
    <form onsubmit="submit_warn($(this)); return false">
        <label for="set_email" class="empty"></label>
        <input id="set_email" placeholder="Новая почта" type="email"
               oninput="act_field($(this), input_set_email)"
               onblur="onblur_set_email($(this))"
        >
        <button id="erase_set_email" type="button" onmousedown="click_erase($(this).prev()); return false">
            <svg id="email_btn_erase">
                <use xlink:href="static/images/sprites.svg#sprite_btn_erase"></use>
            </svg>
        </button>
    </form>
    <form id="confirm_email">
        <p>Почта не подтверждена</p>
        <button type="button" onmousedown="click_active()">Подтвердить</button>
    </form>
</menu>

<menu id="settings">
    <div class="theme light">
        <button data-theme="light" data-color="red"></button>
        <button data-theme="light" data-color="blue"></button>
        <button data-theme="light" data-color="green"></button>
        <button data-theme="light" data-color="purple"></button>
        <button data-theme="light" data-color="sky"></button>
        <button data-theme="light" data-color="black"></button>
    </div>
    <div class="theme dark">
        <button data-theme="dark" data-color="red"></button>
        <button data-theme="dark" data-color="blue"></button>
        <button data-theme="dark" data-color="green"></button>
        <button data-theme="dark" data-color="purple"></button>
        <button data-theme="dark" data-color="sky"></button>
        <button data-theme="dark" data-color="white"></button>
    </div>
</menu>