input:-webkit-autofill { /*Убирание желтого фона*/
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
	-webkit-text-fill-color: white !important;
}

/*-----------------Верх--------------------*/
#authorisation span{cursor: pointer}

#authorisation span{
	text-align: center;
	margin: 10px 20px 10px 2%;
	padding: 4px calc(10px + 4%);
	height: 20px;
	border-radius: 20px;
	float: right;
	pointer-events: none;
}

header.logout #authorisation span {pointer-events: visible}

#authorisation span:hover {
	transform: scale(1.1);
	background: rgba(255, 255, 255, 0.2);
}
/*--------------------------------------------*/

/*------------------Шапка----------------------*/
#authorisation_menu .hat {
	opacity: 0;
	z-index: -1;
	font-size: 1.5em;
	text-align: center;
	line-height: 30px;
	top: 10px;
	width: 100%; height: 30px;
	border-radius: 15px;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
}

#authorisation_menu .hat:hover {transform: scale(1.1)}
#authorisation_menu.login .hat.login, #authorisation_menu.register .hat.register {
	z-index: 11;
	opacity: 1;
	pointer-events: visible;
}
/*--------------------------------------------*/
/*-----------------Меню и форма---------------*/
#authorisation_menu menu {
	z-index: 15;
	margin: 4px;
}

#authorisation_menu.register menu {padding: 10px 0}
#authorisation_menu.login menu, #authorisation_menu.register menu{margin-top: 50px}
#authorisation_menu.login {padding-bottom: 39px}

form#user {
	z-index: 16;
	position: relative;
	top: 10px;
}

#authorisation_menu.register form#user {top: 0}
/*--------------------------------------------*/
/*----------------Инпуты----------------------*/
#authorisation_menu input.hidden {
	opacity: 0;
	border-width: 0;
	height: 0;
	margin: 0 16px;
	pointer-events: none;
}

#authorisation_menu.register menu input {margin: 8px 16px}

#authorisation_menu.register input.hidden {
	opacity: 1;
	border-width: 3px;
	height: 36px;
	pointer-events: visible;
}
/*-----------------Кнопочки-------------------*/
#erase_login {top: -5px}
#show_pass {top: 51px}

#erase_email {top: 0; height: 0}
#show_repass {top: 100px; height: 0}
#authorisation_menu.login #erase_login {top: -5px}
#authorisation_menu.login #show_pass {top: 51px}
#authorisation_menu.register #erase_login {top: 3px}
#authorisation_menu.register #show_pass {top: 107px}
#authorisation_menu.register #erase_email {top: 55px; height: 46px}
#authorisation_menu.register #show_repass {top: 159px; height: 46px}
#pass_btn_show, #repass_btn_show {left: 0}
/*--------------------------------------------*/
/*---------------Подсказки------------------*/
#authorisation_menu.register label[for=form_login] {top: 8px}
#authorisation_menu.register label[for=form_email] {top: 60px}
#authorisation_menu.register label[for=form_password] {top: 112px}
#authorisation_menu.register label[for=form_repass] {top: 164px}
/*--------------------------------------------*/
/*-----------------Восстановить---------------------*/
#restore {
	z-index: 10;
	text-align: center;
	margin: 0 auto;
	padding: 0 5px;
	width: 140px;
	height: 0;
	border-radius: 30px;
	position: relative;
	bottom: 12px;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}

#restore:hover {transform: scale(1.1);}

#authorisation_menu.login #user p {
	height: 20px;
	padding: 2px;
	margin: 2px auto;
	opacity: 1;
	pointer-events: visible;
}
/*--------------------------------------------*/
/*-----------------Запоминть меня---------------------*/
#authorisation_menu #checkbox_remember_me {display: none}

#authorisation_menu #remember_me {
	z-index: 13;
	font-size: 1.1em;
	position: absolute;
	padding: 0 10px;
	width: 106px;
	height: 28px;
	line-height: 28px;
	left: 109px; bottom: 8px;
	border-radius: 20px;
	opacity: 0;
	pointer-events: none;
}

#authorisation_menu #remember_me:hover {transform: scale(1.1); background: rgba(255, 255, 255, 0.2);}
#authorisation_menu.login #remember_me {opacity: 1; pointer-events: visible; bottom: -35px}
/*--------------------------------------------*/
/*--------------------------------------------*/

/*-----------------Анимации--------------------*/
/*-----------------Возврат---------------------*/
#authorisation span {transition: 0.2s ease-out}
#authorisation_menu menu {transition: 0.2s ease-in-out}
#remember_me {transition: 0.2s ease-in-out}
#erase_email, #show_repass {transition-timing-function: ease-out}
/*--------------------------------------------*/
/*-----------------При наведени---------------*/
#authorisation span:hover, #restore:hover, #remember_me:hover {transition: 0.1s ease-in}
/*--------------------------------------------*/
/*-----------------При нажатии----------------*/
#authorisation span:active, #restore:active {transform: scale(1); transition: 0.05s ease-out}
#authorisation_menu #remember_me:active {transform: scale(1); transition: 0.1s ease-in-out}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*---------------Открытие---------------------*/
header .center, header .right {
	display: block;
	z-index: 21;
	position: relative;
	bottom: 0;
	opacity: 1;
}

header.logout .center, header.logout .right {
	display: none;
	bottom: 10px;
	opacity: 0;
	transition: 0.1s ease-out;
}

#authorisation {
	display: none;
	z-index: 30;
	position: absolute;
	width: 50%; height: 50px;
	right: 0; top: 20px;
	opacity: 0;
	transition: 0.1s ease-out;
}

header.logout #authorisation {
	display: block;
	top: 0;
	opacity: 1;
	transition: 0.2s ease-out;
}
/*--------------------------------------------*/
