div.body * {
    font-size: 1.1em;
    text-align: center;
}

div.body {
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 3vh 0;
    position: relative;
    right: 20px;
    width: 958px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 1400px) {  div.body {left: 0}  }

.item {
    margin: 3vh 0 0;
    left: 0;
    width: 938px;
    position: relative;
}

.item.del {
    left: 40px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition-timing-function: ease-in !important;
    transition-property: left, opacity !important;
}

.time {
    box-sizing: border-box;
    padding: 0 5px;
    margin-left: 20px;
    width: 110px;
    float: left;
    height: 40px;
    border-radius: 20px;
}

.time:hover, .time.input {transform: scale(1.1)}

.time span {
    width: 10px;
    font-size: 1.5em;
    position: relative;
    line-height: 40px;
}

.day .time span {bottom: 3px}

.time input {
    box-sizing: border-box;
    font-size: 1.5em;
    padding: 0;
    line-height: 40px;
    width: 35px;
    background: none;
    border: none;
    transform-origin: center;
}

.time input:hover {transform: scale(1.1)}

.item .task {
    resize: none;
    margin-left: 20px;
    padding: 5px 10px;
    width: calc(100% - 260px);
    height: max-content;
    line-height: 30px;
    min-height: 30px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.item button {
    float: right;
    height: 40px;
    width: 40px;
    margin: 0 20px 0 20px;
    padding: 0;
    position: relative;
    right: 20px;
    border: none;
    border-radius: 20px;
    opacity: 0;
}

.item:hover button {
    right: 0;
    opacity: 1;
}

.item button svg, .list_task button svg, .back button svg {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.item button:hover {transform: scale(1.2)}

#add_day_task, #add_month_task, #add_list {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    height: 40px;
    position: relative;
    left: 20px;
    width: 200px;
    border: none;
    border-radius: 20px;
}

#add_day_task svg, #add_month_task svg, #add_list svg {
    margin: auto;
    width: 30px;
    height: 30px;
}

#add_day_task:hover, #add_month_task:hover, #add_list:hover {transform: scale(1.1)}

.alert {
    margin: auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 2.7vh;
    left: calc(50% - 80px);
    opacity: 0;
    pointer-events: none;
}

#add_day_task.new+.alert, #add_month_task.new+.alert, #add_list.new+.alert {pointer-events: visible}
.alert:hover {transform: scale(1.1)}
#add_day_task.new~.alert, #add_month_task.new~.alert, #add_list.new~.alert {opacity: 1; pointer-events: visible}
#add_day_task.new, #add_month_task.new, #add_list.new {opacity: 0; pointer-events: none}

#page_lists div.body {
    right: 0;
    text-align: left;
    padding: 3vh 60px 3vh;
    line-height: 0;
    width: 1640px;
}

#page_lists .alert {left: 720px}

#add_list {left: 0}

@media (max-width: 1640px) {
    #page_lists div.body {width: 1135px}
    #page_lists .alert {left: 460px}
}
@media (max-width: 1135px) {
    #page_lists div.body {width: 620px}
    #page_lists .alert {left: 210px}
}

.back_back {
    display: inline-block;
    vertical-align: top;
    margin: 3vh 50px 0;
    width: 400px;
    height: max-content;
    overflow: visible;
}

.back_back.new {
    opacity: 1;
    transform: scale(1);
    transition-property: opacity, transform !important;
}

.back_back.del {
    transform: scale(0.5) !important;
    opacity: 0 !important;
    pointer-events: none;
    transition-duration: 0.1s !important;
    transition-property: transform, opacity !important;
    transition-timing-function: ease-in !important;
}

.back {
    margin: 0;
    position: relative;
    width: 400px;
    border-radius: 25px 25px 20px 20px;
}

.list_task, .title {
    text-align: left !important;
    width: 460px;
    height: max-content;
    position: relative;
}

.list_task {transition-property: height !important}
.list_task.del {opacity: 0; transition-property: opacity !important}
.back .title {height: 50px}
.back .title+.list_task {margin-top: 5px}



/*.list_task.ghostClass, .list_task.chosenClass, .list_task.dragClass {*/
/*    cursor: n-resize !important;*/
/*    transition: 2s !important;*/
/*}*/
/*.list_task.dragClass {opacity: 0 !important;}*/

.back .title input {
    font-size: 1.3em;
    text-align: center;
    padding: 0 10px;
    width: 380px;
    height: 50px;
    line-height: 50px;
    border: none;
    border-radius: 25px;
}

.back .title:hover input, .back .title input:focus {transform: scale(1.05)}
.del_list {margin-right: -10px}

.list_task textarea {
    text-align: center;
    margin: 0;
    padding: 5px 10px;
    resize: none;
    width: 380px;
    height: max-content;
    line-height: 30px;
    min-height: 30px;
    background: none;
    border: none;
    overflow: hidden;
}

.list_task button, .back button.del_list {
    padding: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 15px;
    border: none;
    border-radius: 20px;
    float: right;
    opacity: 0;
}

.back button.del_list {
    width: 50px;
    height: 50px;
    top: 0;
    border-radius: 25px;
}

.back button.del_list svg {
    margin: 10px;
}

.back form button:hover {transform: scale(1.2)}
.back .title:hover button {right: -5px; opacity: 1}
.back .list_task:hover button {right: 5px; opacity: 1}

.add_list_task {
    position: relative;
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

.add_list_task:hover {transform: scale(1.1);}

#page_lists .add_list_task svg {
    width: 20px;
    height: 20px;
}

.add_list_task.new  {opacity: 0; pointer-events: none}

#page_lists .back .alert {
    font-size: 1em;
    position: absolute;
    margin: 0;
    top: unset !important;
    left: 100px;
    bottom: 2px !important;
}

.add_list_task.new+.alert {opacity: 0.5; pointer-events: visible}

.list_task textarea {transition:0.2s ease-in; transition-property: padding, background-color, margin}
.time *, .time input::placeholder, .time, .item button, #add_day_task, #add_list, #add_month_task, .alert, .back button,
.back .title input, .back, div.body, .back_back.new
{transition: 0.2s ease-out}
.item button:hover, #add_day_task:hover, #add_month_task:hover, #add_list:hover, .add_list_task:hover,
.alert, .back form button:hover, .back .title:hover *,
.time:hover, .time input, .back:hover
{transition: 0.1s ease-in-out}
.item button:active, #add_day_task:active, #add_list:active, #add_month_task:active, .add_list_task:active,
.alert:active, .back form button:active, .alert:active
{transform: scale(1)}
.item.del {transition: 0.1s ease-out; transition-property: opacity, left;}