#page_help {
    top: 0;
    left: 0;
}

#help_body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    padding: 50px 0 40px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#help_body.ready {opacity: 1}

#subtitle {
    font-size: 2em;
    margin: 3vh 0;
    position: relative;
}

#subtitle:hover {transform: scale(1.1);}

.man_card {
    transform: scale(0.9);
    display: inline-block;
    margin: 0 1%;
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 115px;
    overflow: hidden;
}

.man_card:hover {transform: scale(1)}

.man_card::before {
    font-size: 1.3em;
    z-index: 20;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 75px);
    width: 150px; height: 30px;
    line-height: 30px;
    pointer-events: none;
    opacity: 0;
    transform-origin: center;
    transition: inherit;
}

#m_reg::before {content: "Регистрация"}
#m_act::before {content: "Активация"}
#m_add::before {content: "Добавление"}
#m_theme::before {content: "Смена темы"}

.man_card.ready::before {opacity: 1}
.man_card.ready:hover::before {transform: scale(1.5); opacity: 0}

.man_card img {
    transform: scale(1.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.man_card.ready img {opacity: 1}
.man_card.ready:hover img {transform: scale(1)}

#try_guest {
    font-size: 1.2em;
    margin: 3vh auto;
    position: relative;
    top: 0;
}

#btn_guest_log {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    position: relative;
    top: 0;
    background: none;
    border: 3px solid white;
    border-radius: 30px;
}

#thank {
    transform: scale(3);
    font-size: 1.2em;
    margin: auto;
    width: max-content;
    position: relative;
    bottom: 60px;
    opacity: 0;
    pointer-events: none;
}

#btn_guest_log:hover, #try_guest:hover {transform: scale(1.1)}
#page_help.help_login #try_guest, #page_help.help_login #btn_guest_log {opacity: 0; top: 40px}
#page_help.help_login #thank {opacity: 1; transform: scale(1); pointer-events: visible}
#page_help.help_login #thank:hover {transform: scale(1.1) skewX(-20deg)}

@media (min-height: 500px) {
    #try_guest {margin: 10vh auto 3vh}
}

@media (min-height: 570px) {
    #subtitle {margin: 4vh 0}
    #try_guest {margin: 11vh auto 4vh}
    #btn_guest_log {width: 250px; height: 50px}
}

@media (min-height: 620px) {
    #subtitle {margin: 5vh 0}
    #try_guest {margin: 15vh auto 5vh}
}

@media (min-height: 720px) {
    #subtitle {margin: 6vh 0}
    #try_guest {margin: 18vh auto 6vh}
}

@media (min-height: 820px) {
    #subtitle {margin: 10vh 0 8vh}
    #try_guest {margin: 20vh auto 6vh}
}


@media (min-height: 550px) and (min-width: 1300px) {
    .man_card {width: 200px; height: 200px}
}

#page_help * {transition: 0.2s ease-out}
.man_card.ready::before {transition: 0.1s ease-in}
#btn_guest_log:hover {transition: 0.1s ease}
#subtitle:active, #try_guest:active, #btn_guest_log:active {transform: scale(1); transition: 0.05s}
.man_card:active {transform: scale(0.9); transition: 0.05s}
#page_help.help_login #thank:active {transform: scale(1) skewX(-20deg); transition: 0.05s}
#page_help.help_login #try_guest, #page_help.help_login #btn_guest_log {transition: 0.1s ease-in}
#help_body {transition: 0.2s; transition-property: opacity, background}

.clock_load {
	border-radius: 70px;
	border: 6px solid white;
	height: 120px;
	width: 120px;
    position: absolute;
    left: calc(50% - 66px);
    top: calc(50% - 66px);
}

.man_card.ready .clock_load {opacity: 0}

.clock_load::after, .clock_load::before {
    content: "";
	width: 6px;
	position: absolute;
	left: 57px;
    border-radius: 6px;
    transition: inherit;
}

.clock_load::after{
	top:20px;
	height: 40px;
	transform-origin: 3px 37px;
	animation: min 2.3s linear infinite;
}

.clock_load::before{
	top:30px;
	height: 30px;
	transform-origin: 3px 27px;
	animation: hour 13.8s linear infinite;
}

@keyframes min{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@keyframes hour{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

#main_clock {
    top: calc(50% - 100px);
}

#main_clock p {
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    width: 200px;
    top: 150px;
    left: -40px
}

#help_body.ready+#main_clock {opacity: 0}